/* Meniul 4 */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: white;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background-image: url("../assets/logo.jpg"); */
}

header {
    background: darkolivegreen;
    background: linear-gradient(90deg, rgb(34, 137, 29) 0%, rgba(87, 199, 133, 1) 50%, rgb(156, 184, 29) 100%);
    width: 100%;
    position: fixed;
    top: 0px;
}

nav {
    text-align: center;
    width: 100%;
    padding: 20px;
    border: 1px solid darkgreen;
}

main{
    margin-top: 50px;
    padding: 50px 50px 50px;
    height: auto;
}

footer {
    background: grey;
    background: linear-gradient(90deg, rgb(74, 88, 88) 0%, rgb(111, 130, 119) 50%, rgb(203, 207, 185) 100%);
    align-content: center;
    text-align: center;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
}

h1 {
    font-size: 50px;
}

figcaption {
    font-family: 'Courier New', Courier, monospace;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.tables {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

nav a:hover{
    color: white;
}

.auth{
    text-align: center;
}

.login_form, .register_form{
    text-align: center;
}

